.lower__container {
    margin-top: auto;
    width: 80%;
}

.audio-controls__container {
    display: flex;
    justify-content: center;
}

.progress-container {
    background: #e0e0e0;
    height: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto .5rem;
}

.progress {
    background: linear-gradient(84deg, rgba(255,100,37,1) 19%, rgba(225,29,72,1) 93%);
    height: 100%;
    border-radius: 5px;
}

.time-container {
    display: flex;
    font-size: 0rem;
}

.audio-controls__prev,
.audio-controls__pause-play,
.audio-controls__next {
    color: var(--clr-slate800);
    font-size: 2rem;
}

.timestamp-container {
    display: flex;
    justify-content: space-between;
    width: 95%; 
    position: relative;
    top: 1%;
    left: 3%;
    color: var(--clr-dark);
}

.timestamp-container p {
    font-size: 1rem; 
    margin: 0; 
}


/* xs */
@media (min-width: 475px) {}

/* sm */
@media (min-width: 640px) {}