.music__container {
  border: 2px solid black;
  border-radius: 2rem;
  height: 36rem; 
  width: 34rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--clr-light);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8);
  margin-top: 1.5rem; 
}

.image__container {
  border-radius: 3rem;
  border: 1px solid var(--clr-rose);
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 13rem; 
  width: 13rem; 
  top: 24%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.music__container-CS {
  display: flex;
  justify-content: center;
  color: var(--clr-dark);
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  width: 100%;
}

/* xxs */
@media (min-width: 320px) {
  .music__container {
    height: 20rem;
    width: calc(20rem / 1.19);
    margin-top: 1rem; 
  }

  .image__container {
    top: 15%; 
    width: 13rem;
    height: 13rem;
  }

  .music__container-CS {
    font-size: 1.25rem;
    position: relative;
    top: 10%;
  }
}

/* xs */
@media (min-width: 475px) {
  .music__container {
    height: 27rem;
    width: calc(27rem / 1.19);
    margin-top: 1.2rem; 
  }

  .image__container {
    width: 18rem;
    height: 18rem;
    top: 20%; 
  }

  .music__container-CS {
    font-size: 1.5rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .music__container {
    height: 30rem;
    width: calc(30rem / 1.19);
    margin-top: 1.3rem;
  }

  .image__container {
    width: 20rem;
    height: 20rem;
    top: 22%;
  }
}

/* md */
@media (min-width: 768px) {
  .music__container {
    height: 32rem;
    width: calc(35rem / 1.19);
    margin-top: 1.4rem;
  }

  .image__container {
    width: 22rem;
    height: 22rem;
    top: 23%;
  }
}

/* lg */
@media (min-width: 1024px) {
  .music__container {
    height: 34rem;
    width: calc(37rem / 1.19);
    margin-top: 1.5rem;
  }

  .image__container {
    width: 23rem;
    height: 23rem;
    top: 24%;
  }
}
